<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gobi-widget-container">
  <div class="gobi-widget">
    <div class="gobi-widget-body">
      <div class="row">
        <div class="col-xs-12 text-left">
          <p class="gobi-widget-text"><a href="#/resources/{{resource.id}}">{{resource.name}}</a></p>
        </div>
        <div class="col-xs-8 text-left">
          <p class="gobi-widget-heading">{{value_to_readable(resource)}}</p>
        </div>
        <div class="col-xs-4 text-left">
          <i class="fa fa-tint fa-3x"></i>
        </div>
      </div>
    </div>
  </div>
</div>
