<div class="gobi-widget-heading">
  Eigenschaften
</div>
<div class="gobi-widget">
    <div class="gobi-widget-body">
      <table>
        <tr>
        <td><b>Name:</b></td> <td>{{resource.name}}</td>
        </tr>
        <tr>
        <td><b>Gerät: </b></td> <td>{{resource.device_id}}</td>
        </tr>
        <tr>
        <td><b>ID:</b></td> <td>{{resource.id}}</td>
        </tr>
        <tr>
        <td><b>URL:</b></td> <td>resource.path</td>
        </tr>
        <tr>
        <td><b>Typ:</b></td> <td>{{resource.resource_type}}</td>
        </tr>
        <tr>
        <td><b>Einheit: </b></td> <td>{{resource.unit}}</td>
        </tr>
      </table>
    </div>
</div>
