<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gobi-widget-container">
    <div class="gobi-widget">
        <div class="gobi-widget-body">
            <div class="row">
                <div class="col-xs-12 text-left">
                    <p class="gobi-widget-text"><a href="#/resources/{{resource.id}}">{{resource.name}}</a>
                    </p>
                </div>
                <div class="col-xs-9 text-left">
                    <p class="gobi-widget-heading">
                        <span>{{value_to_readable(resource)}}</span>
                    </p>
                </div>
                <div class="col-xs-2 text-left">
                    <i class="fa fa-bolt fa-3x"></i>
                </div>
            </div>
        </div>
    </div>
</div>
